<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!-- mapper namespace는 비우면 에러 -->
  <mapper namespace="com.winter.app.departments.DepartmentDAO">

	<select id="getList" resultType="com.winter.app.departments.DepartmentDTO">
	SELECT * FROM DEPARTMENTS
	</select>
	
	<select id="getDetail" resultType="DepartmentDTO" parameterType="DepartmentDTO">
	SELECT * FROM DEPARTMENTS WHRER DEPARTMENT_ID=#{department_id}
	</select>
	
	<insert id="add" parameterType="DepartmentDTO">
	INSERT INTO DEPARTMENTS VALUES((SELECT MAX(DEPARTMENT_ID)+1 FROM DEPARTMENTS),#{department_name},#{manager_id},#{location_id})
	</insert>
	
	<update id="update" parameterType="DepartmentDTO">
		UPDATE DEPARTMENTS SET DEPARTMENT_NAME=#{department_name}, MANAGER_ID=#{manager_id}
		WHERE DEPARTMENT_ID=#{department_id}
	</update>
	
	<delete id="Delete" parameterType="DepartmentDTO">
	DELETE DEPARTMENTS WHERE DEPARTMENT_ID=#{department_id}
	</delete>
  </mapper>
  
  